<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>
        <%= title %>
    </title>
</head>

<body itemscope itemtype="http://schema.org/EmailMessage"
    style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.6em; background-color: #f6f6f6; margin: 0;"
    bgcolor="#f6f6f6">

    <table class="body-wrap" width="100%" bgcolor="#f6f6f6">
        <tr>
            <td></td>
            <td class="container" width="600" align="center" style="margin: 0 auto;">
                <div class="content" style="max-width: 600px; margin: 0 auto; padding: 20px;">
                    <table class="main" width="100%" cellpadding="0" cellspacing="0" bgcolor="#fff"
                        style="border-radius: 3px; background-color: #E7D2D2; border: 1px solid #E7D2D2;">
                        <tr>
                            <td align="center" bgcolor="#38414a"
                                style="color: #E7D2D2;background-color: #7A2530; font-weight: 500; padding: 20px;">
                                <a href="#">
                                    <img src="<%= logoUrl %>" height="20" alt="logo" style="width: 100px;height: 100px;" />
                                </a>
                                <br />
                                <span style="margin-top: 10px; display: block;">
                                    <%= title %>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="content-wrap" style="padding: 20px;">
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="content-block" style="padding: 0 0 20px;">
                                            Hello,<%= name %>,
                                                <br>
                                                <p>
                                                    <b>Welcome to GDRFA!</b><br>
                                                    Your account has been successfully created by the admin team.
                                                </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block" style="padding: 0 0 20px;">
                                            To set your password and activate your account, please click the button
                                            below:
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block" style="padding: 0 0 20px;">
                                            <a href="<%= resetLink %>" class="btn-primary"
                                                style="color: #FFF; text-decoration: none; font-weight: bold; text-align: center; display: inline-block; border-radius: 5px; background-color: #7A2530; border: 8px 16px solid #7A2530;padding: 11px;">
                                                Set Password
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block" style="padding: 0 0 20px;">
                                            If you were not expecting this email, please ignore it.<br>
                                            For your security, this link will expire in 24 hours.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block" style="padding: 0 0 20px;">
                                            Best regards,<br>
                                            The GDRFA Team
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div class="footer" style="width: 100%; clear: both; color: #999;">
                        <table width="100%">
                            <tr>
                                <td class="aligncenter content-block" align="center"
                                    style="color: #E7D2D2; font-size: 12px;background-color: #7A2530;padding: 16px;">
                                    <a href="#" style="color: #999; text-decoration: underline;">Unsubscribe</a> from
                                    these alerts.
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>
    </table>

</body>

</html>